<a href="/"><div class="page-header">
      <h1>QuickStudy</h1>
    </div></a> <!-- page-header -->


<h1>Update This Stack</h1>

<%= render 'form' %>

<%= link_to 'Show', @stack %> |
<%= link_to 'Back', stacks_path %>
