<a href="/"><div class="page-header">
      <h1>QuickStudy</h1>
    </div></a> <!-- page-header -->
<br>
<h3>Update a Card</h3>

<%= render 'form' %>

<%= link_to 'Show', @card %> |
<%= link_to 'Back', cards_path %>
