/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@media(min-width:768px) {
  body {
    padding: 25px 0; border: 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
  }
}


@media(min-width:768px) {
 header  {
  padding-top: 200px; padding-bottom: 200px;
  }
}


@media(min-width:768px) {
  section {
    padding: 150px 0;
    }
  }

input[type="submit"]{
  background-color: rgb(245,245,245);
border-radius: 3px;
height: 2em;
color: gray;
font-family: 'Josefin Sans', sans-serif;
}

#list-stacks {
  list-style: none;
}



.page-header {
  font-weight: bolder;
  font-size: 24px;
  font-family: 'Nixie One', cursive;
  color: rgb(117,117,117);

}

#welcome-user {
  font-family: 'Josefin Sans', sans-serif;
  color:rgb(117,117,117);
  font-size: 18px;
}

/** {
  -webkit-box-sizing: border-box;
}*/
 body {
  font-family: 'Josefin Sans', sans-serif;
  /*font-family: 'Nixie One', cursive;*/
  color:rgb(117,117,117);
 }


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}



#splash-info {
  float: left;
  width: 50%;
  margin-left: 10%;
}

#splash-sample {
  float: left;
  width: 40%;
  margin-top: 2em;
}

#container {
  width: 100%;
  position: relative;
}


.page-header h1 {
  margin-left: -4px;
}

.card {
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  height: 500px;
  width: 350px;
}



.sample {
  perspective: 1000;
  height: 500px;
  width: 350px;

}

.flashcard-front p{
  margin-top: 8em;
  font-family: 'Nixie One', cursive;
  font-size: 28px;
  list-style: none;
}

.card-front-text {
  line-height: 1;
  font-family: 'Nixie One', cursive;
  font-size: 28px;
  list-style: none;

}

.card-back-text {
  margin-top: 8em;
  line-height: 1;
  font-family: 'Nixie One', cursive;
  font-size: 28px;
  list-style: none;
}



.hidden {
  display: none;
}

#stack-name  {
  font-size: 16px;
  margin-right: 12em;
  margin-top: 1em;
  color: gray;
  font-family: 'Nixie One', cursive;
}

.flashcard-back, .flashcard-front{

  backface-visibility: hidden;
  position: absolute;


}



#answer-text, .flashcard-back p{
  line-height: 1;
  margin-top: 6em;
  font-family: 'Nixie One', cursive;
  font-size: 28px;
  list-style: none;
  color: rgb(117,117,117);
}
.index{
  z-index: 2;
}

.flashcard-back {

-webkit-transform: rotateY(180deg);
color: rgb(78,89,89);
height: 500px;
width: 350px;
text-align: center;
list-style: none;
font-family: 'Nixie One', cursive;

border: 1px #C0C0C0 solid;

-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;

-moz-box-shadow: 1px 1px 1px 0px #888888;
-webkit-box-shadow: 1px 1px 1px 0px #888888;
box-shadow: 1px 1px 1px 0px #888888;
}

.flashcard-front {
-webkit-transform: rotateY(0deg);
background-color: rgb(255,214,103);
width: 350px;
height: 500px;
color: rgb(78,89,89);
text-align: center;
list-style: none;
font-family: 'Nixie One', cursive;
border: 1px #C0C0C0 solid;

-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;

-moz-box-shadow: 1px 1px 1px 0px #888888;
-webkit-box-shadow: 1px 1px 1px 0px #888888;
box-shadow: 1px 1px 1px 0px #888888;
}

#question-text {
  line-height: 1;
  margin-top: 8em;
  font-family: 'Nixie One', cursive;
  font-size: 28px;
  list-style: none;
  color: rgb(117,117,117);
}

#stack-list-text {
  line-height: 1;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
}

 a{
  padding:.5em1em;
  border: 1pxsolidrgba(0,0,0,0.4);
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  color: rgb(117,117,117);
  transition: allease.5s;
}

#add-a-card-text-front, #add-a-card-text-back {
  line-height: 1;
  margin-top: 8em;
  font-family: 'Nixie One', cursive;
  font-size: 28px;
  list-style: none;
  color: rgb(117,117,117);
}

#add-a-stack-text-front {
  line-height: 1;
  margin-top: 8em;
  font-family: 'Nixie One', cursive;
  font-size: 28px;
  list-style: none;
  color: rgb(117,117,117);
}

#add-a-stack-text-back {
  line-height: 1;
  margin-top: 8em;
  font-family: 'Nixie One', cursive;
  font-size: 28px;
  list-style: none;
  color: rgb(117,117,117);
}

#edit-profile-text-front, #edit-profile-text-back {
  line-height: 1;
   margin-top: 8em;
  font-family: 'Nixie One', cursive;
  font-size: 28px;
  list-style: none;
  color: rgb(117,117,117);
}
